* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  text-decoration-color: white;
  scroll-behavior: smooth;
  font-family: "Fira Code", monospace;
}
* img {
  width: 100%;
}
* body::-webkit-scrollbar {
  width: 13px;
}
* body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
* body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
* body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 20px;
  border: 3px solid var(--scrollbarBG);
}

.closed {
  display: none !important;
  visibility: hidden;
}

body {
  transition: all 0.3s ease-in-out;
  background-color: #0d1117;
}
body header.style-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body header.style-about .themes {
  padding: 0.7rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
body header.style-about .themes .colors {
  display: none;
}
body header.style-about .themes .colors span {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #8b949e;
  border-radius: 2rem;
  margin: 0.23rem 0.25rem;
}
@media screen and (min-width: 768px) {
  body header.style-about .themes .colors {
    display: flex;
  }
}
body header.style-about .themes .title h1 {
  color: #4b4f54;
  font-size: 0.9rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  body header.style-about .themes .title h1 {
    margin-left: 5rem;
  }
}
body header.style-about nav {
  box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.4);
  height: 3.7rem;
  width: 100%;
}
body header.style-about nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #010409;
}
@media screen and (min-width: 768px) {
  body header.style-about nav ul {
    justify-content: start;
  }
}
body header.style-about nav ul li {
  background-color: #010409;
  width: 33.3vw;
  display: block;
  border: 1px solid #2d323f;
  color: #8b949e;
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
  body header.style-about nav ul li {
    width: 20vw;
  }
}
@media screen and (min-width: 1000px) {
  body header.style-about nav ul li {
    width: 13vw;
  }
}
body header.style-about nav ul li.selected {
  background-color: #0d1117;
  color: #d7a84b;
  border: 0;
  border-top: 2px solid #bf616a;
}
body header.style-about nav ul a {
  color: #8b949e;
  display: block;
  padding: 0.7rem 1rem;
  width: 33.3vw;
}
@media screen and (min-width: 768px) {
  body header.style-about nav ul a {
    width: 20vw;
  }
}
@media screen and (min-width: 1000px) {
  body header.style-about nav ul a {
    width: 13vw;
  }
}
body header.style-about nav ul a.selected {
  background-color: #0d1117;
  color: #d7a84b;
  border: 0;
  border-top: 2px solid #bf616a;
}
body main.style-about {
  min-height: 70vh;
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  body main.style-about {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
  }
  body main.style-about .lines {
    width: 28vw;
    overflow: auto;
    height: 74vh;
  }
  body main.style-about .lines::-webkit-scrollbar {
    width: 13px;
  }
  body main.style-about .lines {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body main.style-about .lines::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body main.style-about .lines::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 20px;
    border: 3px solid var(--scrollbarBG);
  }
}
@media screen and (min-width: 1024px) {
  body main.style-about {
    margin: 0;
  }
  body main.style-about .lines {
    min-width: 25.2vw;
    max-width: 47vw;
    width: 29vw;
    height: 74vh;
    border-right: 1px solid #2d323f;
    border-top: 1px solid #2d323f;
    resize: horizontal;
  }
}
@media screen and (min-width: 1024px) {
  body main.style-about .lines {
    min-width: 25.2vw;
    max-width: 58vw;
  }
}
@media screen and (min-width: 768px) {
  body main.style-about .interests-mobile {
    background-color: #010409;
  }
}
body main.style-about .interests-mobile .line {
  z-index: 10;
  margin: 0.2rem 0;
}
body main.style-about .interests-mobile .line .tag-title {
  background-color: #010409;
  padding: 0.3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.7rem;
}
body main.style-about .interests-mobile .line .tag-title span {
  font-size: 0.9rem;
  color: #8b949e;
  cursor: pointer;
}
body main.style-about .interests-mobile .line .tag-title svg {
  color: #8b949e;
}
body main.style-about .interests-mobile .folder {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
  padding: 0.3rem 2rem;
  margin: 0.8rem 0;
}
body main.style-about .interests-mobile .folder .hobbies .folder_n_name span,
body main.style-about .interests-mobile .folder .stacks .folder_n_name span {
  cursor: none;
}
body main.style-about .interests-mobile .folder .hobbies .folder_n_name span:hover,
body main.style-about .interests-mobile .folder .stacks .folder_n_name span:hover {
  color: #8b949e;
}
body main.style-about .interests-mobile .folder .folder_n_name {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0.7rem;
}
body main.style-about .interests-mobile .folder .folder_n_name span {
  font-size: 0.8rem;
  color: #8b949e;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
body main.style-about .interests-mobile .folder .folder_n_name span:hover {
  color: white;
}
body main.style-about .interests-mobile .folder svg {
  transform: scale(1.1);
  width: 1rem;
  color: #8b949e;
}
body main.style-about .interests-mobile .folder .bio svg {
  color: #e99287;
}
body main.style-about .interests-mobile .folder .interests svg {
  color: #43d9ad;
}
body main.style-about .interests-mobile .folder .education svg {
  color: #3a49a4;
}
body main.style-about .interests-mobile .folder .js svg {
  color: #f6d839;
}
body main.style-about .interests-mobile .folder .css svg {
  color: #55abde;
}
body main.style-about .interests-mobile .folder .html svg {
  color: #e6522a;
}
body main.style-about .interests-mobile .folder .sass svg {
  color: #cd6799;
}
body main.style-about .interests-mobile .folder .react svg {
  color: #23ddff;
}
body main.style-about .contents {
  margin: 2rem;
}
@media screen and (min-width: 768px) {
  body main.style-about .contents {
    margin: 0rem 2rem;
    width: 70vw;
    overflow: hidden;
  }
  body main.style-about .contents .content p {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  body main.style-about .contents {
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 72vh;
  }
  body main.style-about .contents .content {
    width: 30rem;
  }
  body main.style-about .contents .content p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  body main.style-about .contents .content p {
    font-size: 1.3rem;
  }
}
body main.style-about .contents .title {
  margin: 1.5rem 0;
}
body main.style-about .contents .title h3 {
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
}
body main.style-about .contents .title h3 span.section {
  color: #8b949e;
  margin: 0 1rem;
}
body main.style-about .contents .content p {
  color: #8b949e;
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0.6rem 0;
}
body main.style-about .contents .content p a {
  color: green;
}
body main.style-about .contents .stacks {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 1.3rem 0;
}
body main.style-about .contents .stacks svg {
  transform: scale(1.9);
}
body footer.style-about {
  border-top: 1px solid #2d323f;
  padding: 1rem 1rem;
}
body footer.style-about .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.7rem;
}
@media screen and (min-width: 528px) {
  body footer.style-about .contact {
    flex-direction: row;
    justify-content: flex-start;
  }
}
body footer.style-about .contact .f-line {
  display: flex;
  align-items: center;
  justify-content: center;
}
body footer.style-about .contact .s-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
body footer.style-about p {
  color: #8b949e;
  font-size: 0.9rem;
  margin: 0 0.2rem;
  font-weight: 500;
}
body footer.style-about span {
  color: #936ac4;
  font-size: 0.9rem;
  font-weight: 500;
}
body footer.style-about svg {
  margin: 0 0.2rem;
  font-size: 1.3rem;
  color: #8b949e;
  transition: all 0.3s ease-in-out;
}
body footer.style-about svg:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=about.css.map */